
<%- include('../includes/header') %> 

  <%= mess  %> 
    <form action="/leave" method="POST">
        <div class="mb-3">
          <label for="from_leave" class="form-label">From</label>
          <input type="date" class="form-control"  name="from_leave" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="to_leave" class="form-label">To</label>
          <input type="date" class="form-control" name="to_leave">
        </div>
        <div class="mb-3">
          <label for="end_leave" class="form-label">And</label>
          <select class="form-select" aria-label="Default select example" id="hours" name="hours">
              <option selected value="0" >0h</option>
              <option value="1">1h</option>
              <option value="2">2h</option>
              <option value="4">4h</option>
              <option value="5">5h</option>
              <option value="6">6h</option>
              <option value="7">7h</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="day_leave_hours" class="form-label">In</label>
          <input type="date" class="form-control" name="day_leave_hours">
        </div>

        <div class="mb-3">
          <label for="reason" class="form-label">Reason:</label>
          <input type="text" class="form-control" name="reason">
        </div>
    
        <% if(canTakeLeave == true){ %> 
        <button type="submit" class="btn btn-primary">Submit</button>
            <% } %> 
    </form>
<%- include('../includes/footer')  %> 

<html>
      <head>
          <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
            <!-- Bootstrap core JavaScript -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
          <!-- Include Date Picker -->
          <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"/>
      </head>
    <body>
    
      <div class="form-group ">
          <h5 class="border-bottom mb-4">Date Picker</h5>
          <div class="input-group datepicker">
            <div class="datepicker" data-date-format="mm/dd/yyyy"></div>
            <button type="button" class="btn btn-primary btn_save">Save</button>
          </div>
      </div>
    
    </body>
    <script>
        $(document).ready(function () {
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    multidate: true,
    daysOfWeekDisabled: [0, 6],
    clearBtn: true,
    todayHighlight: true,
    daysOfWeekHighlighted: [1, 2, 3, 4, 5]
  });
          
  $('.datepicker').on('changeDate', function(evt) {
    console.log(evt.date);
  });
          
  $('.btn').on('click', function() {
    var the_date = $('.datepicker:first').datepicker('getDates');
    console.log(the_date);
  });
});
    </script>
    </html>


