
<%- include('../includes/header') %> 

  <%= mess  %> 
    <form action="/leave" method="POST">
        <div class="mb-3">
          <label for="from_leave" class="form-label">From</label>
          <input type="date" class="form-control"  name="from_leave" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="to_leave" class="form-label">To</label>
          <input type="date" class="form-control" name="to_leave">
        </div>
        <div class="mb-3">
          <label for="end_leave" class="form-label">And</label>
          <select class="form-select" aria-label="Default select example" id="hours" name="hours">
              <option selected value="0" >0h</option>
              <option value="1">1h</option>
              <option value="2">2h</option>
              <option value="4">4h</option>
              <option value="5">5h</option>
              <option value="6">6h</option>
              <option value="7">7h</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="day_leave_hours" class="form-label">In</label>
          <input type="date" class="form-control" name="day_leave_hours">
        </div>

        <div class="mb-3">
          <label for="reason" class="form-label">Reason:</label>
          <input type="text" class="form-control" name="reason">
        </div>
    
        <% if(canTakeLeave == true){ %> 
        <button type="submit" class="btn btn-primary">Submit</button>
            <% } %> 
    </form>
<%- include('../includes/footer')  %> 

